<div class="row">
  <div class="col-6">
    <div class="card card-body">
      <form [formGroup]="requestForm" (submit)="handleSubmit($event)">
        <div class="form-group">
          <label>Type of Expense</label>
          <select formControlName="type" class="form-control">
            <option>Travel</option>
            <option>Food</option>
          </select>
        </div>
        <div class="form-group">
          <label>Amount</label>
          <input formControlName="amount" type="number" class="form-control"/>
        </div>
        <br/>
        <button class="btn btn-dark">Submit Request</button>
      </form>
    </div>
  </div>
</div>
