<div class="row">
  <div class="col-4">

    <div class="card">
      <div class="card-header">New Todo</div>
      <div class="card-body">
        <form [formGroup]="todoForm" (submit)="handleSubmit($event)">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" formControlName="title" name="title"/>
          </div>
          <div class="form-group">
            <label>Type</label>
            <select class="form-control" formControlName="type" name="type">
              <option>HOME</option>
              <option>OFFICE</option>
            </select>
          </div>
          <br/>
          <button class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
