@CHARSET "UTF-8";

body {
	color: #fff;
}

.container:before, .container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.container {
	background: #eaeaed;
}

.container, section, aside {
	border-radius: 6px;
}

section, aside {
	background: #2db34a;
	color: #fff;
	margin: 1.858736059%;
	padding: 20px 0;
	text-align: center;
}


/* tab devices */
@media screen and (min-width:420px) {
	.container {
		max-width: 538px;
	}
	section {
		float: left;
		width: 63.197026%;
	}
	aside {
		float: right;
		width: 29.3680297%;
	}
}

/* desktop devices */
@media screen and (min-width:720px) {
	.container {
		max-width: 700px;
	}
	section {
		float: left;
		width: 63.197026%;
	}
	aside {
		float: right;
		width: 29.3680297%;
	}
}
