<div>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>likes</th>
                <th>dislikes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let line of summary | keyvalue" [ngClass]="{'bg-danger':line.value.likes<line.value.dislikes}">
                <td>{{line.key}}</td>
                <td>{{line.value.likes}}</td>
                <td>{{line.value.dislikes}}</td>
            </tr>
        </tbody>
    </table>
</div>