


<div class="row">
  <div class="col-6">
    <button (click)="toggle()" *ngIf="!isFormOpen" type="button" class="btn btn-dark">+</button>
    <div *ngIf="isFormOpen" class="card card-body">
      <form [formGroup]="reviewForm" (submit)="handleSubmit()">
        <div class="form-group">
          <label>stars</label>
          <select formControlName="stars" class="form-control">
            <option *ngFor="let n of [1,2,3,4,5]">{{n}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>body</label>
          <textarea formControlName="body" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label>Who</label>
          <input formControlName="who" type="text" class="form-control"/>
        </div>
        <br/>
        <div class="d-flex">
          <button type="submit" class="btn btn-primary">submit</button>
          <button (click)="toggle()" type="button" class="btn btn-danger">cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
